.table-bordered {
  border-collapse: separate !important;

}.table-bordered th, .table-bordered td {
  /*border-collapse: separate !important;*/
  border: 1px black !important;
}

.cell-text {
   font-size: 32px;
 }
