::ng-deep  :root {
  --item-color-0: thistle;
  --item-color-1: #c3a8c3;
  --item-color-2: #bd9ed3;
  --item-color-3: #bf81d3;
  --item-color-4: #aa55d3;
  --item-accent: darkviolet;
  --item-selected-borders: darkviolet;
}

.btn {
  background-color: thistle;
  border: 2px solid darkviolet;
  font-size: 1.3rem;
}

.btn:hover:not(:disabled):not(.disabled) {
  background-color: orchid;
  border: 2px solid black;
}

.btn-img {
  width: 32px;
  height: 32px;
}

.router-hr {
  width: 100%;
  height: 3px;
  background-color: darkviolet;
  margin: 1rem 0;
}
