<body class="container-fluid">
<h1>{{translationRoot?.translations.site_title}}</h1>
<h4>{{translationRoot?.translations.site_description}}</h4>

<div class="row ml-0 mr-0 mb-2">
  <div class="btn col-auto mr-4" (click)="onTipClick()">
    <img src="assets/from-bootstrap/patch-question-fill.svg" class="btn-img"/>
    {{translationRoot?.translations.tip_of_the_day_word}}
  </div>
  <div class="btn col-auto mr-4" (click)="onToTreeClick()">
    <img src="assets/from-bootstrap/diagram-3.svg" class="btn-img"/>
    {{translationRoot?.translations.to_tree}}
  </div>
  <div class="btn col-auto mr-4" (click)="onSearchClick()">
    <img src="assets/from-bootstrap/search.svg" class="btn-img"/>
    {{translationRoot?.translations.search_word}}
  </div>
  <div class="btn col-auto mr-4" (click)="onAuthorsClick()">
    <img src="assets/from-bootstrap/vector-pen.svg" class="btn-img"/>
    {{translationRoot?.translations.authors_word}}
  </div>
</div>

<router-outlet></router-outlet>

</body>
