.favorites-tab {
  background-color: #7f88f391;
  border-radius: 0.5rem;
  overflow: hidden;
}

.btn-favorites-item-x {
  margin-left: 51%;
  margin-top: 3%;
}

.centered-text {
  text-align: center;
}
