<div class="favorites-tab pb-2">
  <div class="row p-1">
    <div class="col-auto">
      <h3 class="flex-size-to-content ml-3">{{ rootData.translationRoot()?.translations?.favorites }}</h3>
    </div>
    <div class="col d-flex justify-content-end">
      <img (click)="onCloseFavoritesClick()"
           src="/from-bootstrap/x.svg"
           class="list-item-btn-img mt-2">
    </div>
  </div>
  <div>
    @if (isFavoritesEmpty()) {
      <div class="centered-text">
        {{ rootData.translationRoot()?.translations?.favorites_is_empty }}
      </div>
    }
    @for (item of favoritesService.items(); track item.id) {
      <div class="plain-list-item pointer"
           (click)="toTree(item.id)">

        <div class="plain-list-item-img-container">
          @if (!!item.image_url) {
            <img [src]="item.image_url"
                 [title]="item.title_for_language"
                 alt=""
                 class="favorites-item-img-content">
          }
        </div>

        <div class="plain-list-item-title">
          <div class="align-self-center d-flex flex-column">
            <small class="plain-list-item-title-rank"
                   [title]="item.rank_for_language">
              {{ item.rank_for_language }}
            </small>
            <b class="plain-list-item-title-title"
               [title]="item.title_for_language">
              {{ item.title_for_language }}
            </b>
          </div>
        </div>

        <div class="plain-list-item-delete-btn d-flex justify-content-end">
          <img (click)="onDeleteItemClick(item); $event.stopPropagation();"
               src="/from-bootstrap/x.svg"
               [title]="rootData.translationRoot()?.translations?.delete_favorite"
               [alt]="rootData.translationRoot()?.translations?.delete_favorite"
               class="list-item-btn-img mt-2 btn-favorites-item-x">
        </div>

      </div>
    }

  </div>
</div>

