<div class="row router-hr"></div>
<h3>{{rootData.translationRoot?.translations.admin_users}}</h3>

<div class="row ml-0 mr-0 mb-2">

  <div class="btn col-auto mr-2 mt-2"
       (click)="onCreateClick()"
       [title]="rootData.translationRoot?.translations.create"
  >
    <img src="assets/from-bootstrap/plus.svg" class="btn-img"/>
  </div>
</div>

<div class="row ml-0 mr-0">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Password</th>
        <th>Is blocked</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users"
          [style.background]="getColorForUser(user)"
      >
        <td>{{user.id}}</td>
        <td>
          <div *ngIf="!isEditingUser(user)">
            {{user.description}}
          </div>
          <div *ngIf="isEditingUser(user)">
            <input type="text" [(ngModel)]="editingUser.description">
          </div>
        </td>
        <td>
          <div *ngIf="!isEditingUser(user)">
            {{user.password}}
          </div>
          <div *ngIf="isEditingUser(user)">
            <input type="text" [(ngModel)]="editingUser.password">
          </div>
        </td>
        <td>
          <div *ngIf="!isEditingUser(user)">
            <input type="checkbox" disabled [(ngModel)]="user.is_blocked">
          </div>
          <div *ngIf="isEditingUser(user)">
            <input type="checkbox" [(ngModel)]="editingUser.is_blocked">
          </div>
        </td>
        <td>
          <div class="btn col-auto mr-2"
               *ngIf="!isEditingUser(user)"
               (click)="onEditClick(user)"
               [title]="rootData.translationRoot?.translations.edit"
          >
            <img src="assets/from-bootstrap/pencil-fill.svg" class="btn-img"/>
          </div>

          <div class="btn col-auto mr-2"
               *ngIf="!isEditingUser(user)"
               (click)="onDeleteClick(user)"
               [title]="rootData.translationRoot?.translations.delete"
          >
            <img src="assets/from-bootstrap/x.svg" class="btn-img"/>
          </div>

          <div class="btn col-auto mr-2"
               *ngIf="isEditingUser(user)"
               (click)="onSaveClick()"
               [title]="rootData.translationRoot?.translations.save"
          >
            <img src="assets/from-bootstrap/check.svg" class="btn-img"/>
          </div>

          <div class="btn col-auto mr-2"
               *ngIf="isEditingUser(user)"
               (click)="onCancelClick()"
               [title]="rootData.translationRoot?.translations.cancel"
          >
            <img src="assets/from-bootstrap/arrow-left.svg" class="btn-img"/>
          </div>

        </td>
      </tr>
    </tbody>
  </table>
</div>
