<div class="row router-hr"></div>
<h3>{{rootData.translationRoot?.translations.tip_of_the_day_word}}</h3>

<div class="row">
  <div *ngIf="!!tip.image_url" class="col-auto">
    <img [src]="tip.image_url">
  </div>
  <div class="col-auto d-flex">
    <p class="font-weight-bold align-self-center">{{tip?.tip_text}}</p>
  </div>
</div>

<div class="row ml-0 mr-0">
  <div class="btn col-auto mr-2 mt-2"
       (click)="isShowInTreeDisabled() ? $event.stopPropagation() : onShowInTreeClick()"
       [class]="isShowInTreeDisabled() ? 'disabled' : ''">
    <img src="assets/from-bootstrap/eye.svg" class="btn-img"/>
    {{rootData.translationRoot?.translations.show_in_tree}}
  </div>
  <div class="btn col-auto mr-2 mt-2" (click)="onShareClick()">
    <img src="assets/from-bootstrap/share.svg" class="btn-img"/>
    {{rootData.translationRoot?.translations.copy_link_to_share}}
  </div>
  <div class="btn col-auto mr-2 mt-2" (click)="onNextTipClick()">
    <img src="assets/from-bootstrap/chevron-double-right.svg" class="btn-img"/>
    {{rootData.translationRoot?.translations.next_fact}}
  </div>
  <div class="btn col-auto mr-2 mt-2" (click)="onToTreeRootClick()">
    <img src="assets/from-bootstrap/diagram-3.svg" class="btn-img"/>
    {{rootData.translationRoot?.translations.to_tree_root}}
  </div>
</div>
