<div class="row router-hr"></div>
<h3>Filling stats</h3>

<div [ngClass]="isLoading ? 'wait' : ''">
  <div class="row">
    <div class="col-3">
      <p class="rangeValue">Is test data:</p>
    </div>
    <div class="col-9 clear-padding-margin">
      <label>
        <input type="checkbox" [(ngModel)]="isTestData" (change)="onIsTestDataChanged()">
        <small>&nbsp;Use fake data generated independently from database's data.</small>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <p class="rangeValue">Groups count: {{groupsCount}}</p>
    </div>
    <div class="col-9 clear-padding-margin">
      <input type="range" min="10" max="100" class="range" id="myRange" [value]="groupsCount" (change)="onGroupsCountChanged($event)">
    </div>
  </div>
  <div class="row">
    <h4>
      {{items.length >= 1 ? items[0].page_url_from : '...'}}&nbsp;- {{items.length >= 1 ? items[items.length - 1].page_url_to : '...'}}
    </h4>
  </div>
  <div class="row">
    <div class="btn col-auto mr-2 mt-2 mb-2"
         title="Home"
         (click)="home()"
         [ngClass]="bordersStack.length===0 ? 'active' : ''"
    >
      <img src="assets/from-bootstrap/house-door.svg" class="btn-img"/>
    </div>
    <div class="btn col-auto mr-2 mt-2 mb-2"
         title="Back"
         (click)="bordersStack.length > 0 ? back() : $event.stopPropagation()"
         [ngClass]="bordersStack.length > 0 ? '' : 'disabled'"
    >
      <img src="assets/from-bootstrap/arrow-left.svg" class="btn-img"/>
    </div>
    <div class="btn col-auto mr-2 mt-2 mb-2"
         (click)="isLoading ? $event.stopPropagation() : reload()"
         [ngClass]="isLoading ? 'active' : ''"
         title="Reload"
    >
      <img src="assets/from-bootstrap/arrow-clockwise.svg" class="btn-img"/>
    </div>
    <div *ngIf="isLoading" class="col-auto loading-text">
      Loading...
    </div>
  </div>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>{{rootData.translationRoot?.translations.admin_title_from}}</th>
        <th>{{rootData.translationRoot?.translations.admin_title_to}}</th>
        <th class="text-right">{{rootData.translationRoot?.translations.admin_total}}</th>
        <th class="text-right">{{rootData.translationRoot?.translations.admin_stage_2}}</th>
        <th class="text-right">{{rootData.translationRoot?.translations.admin_stage_3}}</th>
        <th class="text-right">{{rootData.translationRoot?.translations.admin_stage_4}}</th>
        <th class="text-right">
          <select [(ngModel)]="languageKey"
                  (change)="reload()"
          >
            <option *ngFor="let lang of knownLanguagesAll"
                    [value]="lang.lang_key"
                    [selected]="languageKey === lang.lang_key">
              {{lang.lang_key}} - {{lang.comment}}
            </option>
          </select>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items"
          (click)="onRowClick(item)"
          class="list-item"
          [ngClass]="isLoading ? 'wait' : ''">
        <td>{{item.page_url_from}}</td>
        <td>{{item.page_url_to}}</td>
        <td class="text-right">{{item.total}}</td>
        <td class="text-right"
            [ngClass]="isLoading ? 'wait' : 'tooltipable'"
            [title]="item.stage_2_percent + '%'"
            style="background-color: {{item.stage_2_color}}; color: white">
          {{item.stage_2}}
        </td>
        <td class="text-right"
            [ngClass]="isLoading ? 'wait' : 'tooltipable'"
            [title]="item.stage_3_percent + '%'"
            style="background-color: {{item.stage_3_color}}; color: white">
          {{item.stage_3}}
        </td>
        <td class="text-right"
            [ngClass]="isLoading ? 'wait' : 'tooltipable'"
            [title]="item.stage_4_percent + '%'"
            style="background-color: {{item.stage_4_color}}; color: white">
          {{item.stage_4}}
        </td>
        <td class="text-right"
            [ngClass]="isLoading ? 'wait' : 'tooltipable'"
            [title]="item.stage_language_percent + '%'"
            style="background-color: {{item.stage_language_color}}; color: white">
          {{item.stage_language}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
