<div class="row router-hr"></div>
<h3>Filling stats</h3>

<div>
  <div class="row">
    <div class="col-3">
      <p class="rangeValue">Groups count: {{groupsCount}}</p>
    </div>
    <div class="col-9">
      <input type="range" min="10" max="100" class="range" id="myRange" [value]="groupsCount" (change)="onGroupsCountChanged($event)">
    </div>
  </div>
  <div class="btn col-auto mr-2 mt-2 mb-2"
       (click)="reload()"
       title="Reload"
  >
    <img src="assets/from-bootstrap/arrow-clockwise.svg" class="btn-img"/>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>title_from</th>
        <th>title_to</th>
        <th class="text-right">total</th>
        <th class="text-right">stage_2</th>
        <th class="text-right">stage_3</th>
        <th class="text-right">stage_4</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>2</td>
        <td class="text-right">3</td>
        <td class="text-right" title="50%" style="background-color: #990000; color: white">4</td>
        <td class="text-right" title="50%" style="background-color: #990000; color: white">5</td>
        <td class="text-right" title="50%" style="background-color: #990000; color: white">6</td>
      </tr>
    </tbody>
  </table>
</div>
