<div class="row router-hr"></div>
<h3>Filling stats</h3>

<div>
  <div class="row">
    <div class="col-3">
      <p class="rangeValue">Groups count: {{groupsCount}}</p>
    </div>
    <div class="col-9">
      <input type="range" min="10" max="100" class="range" id="myRange" [value]="groupsCount" (change)="onGroupsCountChanged($event)">
    </div>
  </div>
  <div class="btn col-auto mr-2 mt-2 mb-2"
       (click)="home()"
       title="Home"
  >
    <img src="assets/from-bootstrap/house-door.svg" class="btn-img"/>
  </div>
  <div class="btn col-auto mr-2 mt-2 mb-2"
       (click)="reload()"
       title="Reload"
  >
    <img src="assets/from-bootstrap/arrow-clockwise.svg" class="btn-img"/>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>{{rootData.translationRoot?.translations.admin_title_from}}</th>
        <th>{{rootData.translationRoot?.translations.admin_title_to}}</th>
        <th class="text-right">{{rootData.translationRoot?.translations.admin_total}}</th>
        <th class="text-right">{{rootData.translationRoot?.translations.admin_stage_2}}</th>
        <th class="text-right">{{rootData.translationRoot?.translations.admin_stage_3}}</th>
        <th class="text-right">{{rootData.translationRoot?.translations.admin_stage_4}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items" (click)="onRowClick(item)" class="filling-stats-row">
        <td>{{item.title_from}}</td>
        <td>{{item.title_to}}</td>
        <td class="text-right">{{item.total}}</td>
        <td class="text-right" title="50%" style="background-color: {{item.stage_2_color}}; color: white">{{item.stage_2}}</td>
        <td class="text-right" title="50%" style="background-color: {{item.stage_3_color}}; color: white">{{item.stage_3}}</td>
        <td class="text-right" title="50%" style="background-color: {{item.stage_4_color}}; color: white">{{item.stage_4}}</td>
      </tr>
    </tbody>
  </table>
</div>
