::ng-deep  :root {
  --item-color-0: thistle;
  --item-color-1: #c3a8c3;
  --item-color-2: #bd9ed3;
  --item-color-3: #bf81d3;
  --item-color-4: #aa55d3;
  --item-accent: darkviolet;
  --item-selected-borders: darkviolet;
}

.level-title {
}

.level-title.has-selected {
  color: darkviolet;
}

.level-hr {
  width: 100%;
  height: 3px;
  background-color: black;
}

.level-hr.has-selected {
  width: 100%;
  height: 5px;
  background-color: var(--item-selected-borders);
}

.item {
  width: 150px;
  height: auto;
  margin: 4px;
  position: relative;
  border: 1px solid var(--item-accent);
  background-color: var(--item-color-0);
}

.item.expanded {
  width: 200px;
  border: 3px solid var(--item-accent);
  margin: 1px;
  background-color: var(--item-color-1);
}

.item.selected {
  width: 200px;
  border: 3px solid var(--item-selected-borders);
  margin: 1px;
  background-color: var(--item-color-3);
}

.item-img-container {
  width: 148px;
  height: 150px;
  overflow: hidden;
  position: relative;
  background-color: var(--item-color-1);
}

.item-img-container.expanded {
  width: 194px;
  height: 200px;
  background-color: var(--item-color-2);
}

.item-img-container.selected {
  width: 194px;
  height: 200px;
  background-color: var(--item-color-4);
}

.item-img-content {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.item-title {
  word-break: break-word;
}

.item-title.expanded {
  font-weight: bold;
}

.item-title.selected {
  font-weight: bold;
}

.item-leaves-count.expanded {
  font-weight: bold;
}

.item-leaves-count.selected {
  font-weight: bold;
}

.item-down-arrow {
  width: 100px;
  height: 1.3rem;
}

.item-btn {
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
}

.item-btn-img {
  width: 1.3rem;
  height: auto;
}
