.invisible-btn {
  display: contents;
}

.fixed-mr {
  margin-right: 0.5em;
}

.spinner-circular {
  position: relative;
  width: 32px !important;
  height: 32px !important;
  --mat-progress-spinner-size: 32px !important;
  --mat-progress-spinner-active-indicator-width: 32px !important;
  padding: 0 !important;
}
