<div class="favorites-tab pb-2">
  <h3 class="ml-3">{{rootData.translationRoot?.translations.favorites}}</h3>

  <div class="row d-flex justify-content-center">
    <div class="col-auto">

      <div *ngFor="let item of favoritesService.items" class="plain-list-item pointer row">

        <div class="plain-list-item-img-container">
          <img *ngIf="!!item.image_url" [src]="item.image_url" [title]="item.title_for_language" [alt]="item.title_for_language"
               class="favorites-item-img-content">
        </div>

        <div class="col-auto mr-auto d-flex">
          <div class="align-self-center">
            <small>{{item.rank_for_language}}</small>
            <br/><b>{{item.title_for_language}}</b>
          </div>
        </div>
        <div class="list-item-btn btn mr-1"
             (click)="onDeleteItemClick(item); $event.stopPropagation();"
             [title]="rootData.translationRoot?.translations.copy_link_to_share"
        >
          <img src="assets/from-bootstrap/bookmark-x.svg" class="list-item-btn-img"/>
        </div>

      </div>

    </div>
  </div>
</div>

